<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Библиотека</title>

    <!--CSS-->
    <div th:replace="~{css_style :: css_style(activeTab)}"></div>

</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-red">
    <!-- Top Menu Items -->
    <nav th:replace="~{top_menu :: top_menu(activeTab)}"></nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <nav th:replace="~{left_sidebar_menu :: left_sidebar(activeTab)}"></nav>
    <!-- /Left Sidebar Menu -->

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Книги</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/"><span>Главная</span></a></li>
                        <li class="active"><span>Книги</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Table -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="datable_1" class="table table-hover display  pb-30" >
                                            <thead>
                                            <tr>
                                                <th>Код</th>
                                                <th>Наименование</th>
                                                <th>Тип книги</th>
                                                <th>Автор</th>
                                                <th>Класс</th>
                                                <th>Класс</th>
                                                <th>Год</th>
                                                <th>Издательство</th>
                                                <th>Ответственный</th>
                                                <th>Собственность</th>
                                                <th>Цена</th>
                                            </tr>
                                            </thead>
                                            <!--/*@thymesVar id="person" type="org.educationfree.schoollibweb.model.catalog.Subject"*/-->
                                            <tr th:each="book : ${books}">
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.code}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.bookType.name}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.author}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.classFrom}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.classTo}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.year}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.publisher.name}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.owner.name}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.ownership == true ? 'Взята' : 'Вовзращена'}"></a></th>
                                                <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.price}"></a></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer th:replace="~{footer :: footer(activeTab)}"></footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<div th:replace="~{java_script :: script(activeTab)}"></div>

</body>
</html>
