<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="css_style(activeTab)">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/static/dist/img/favicon.ico}">
    <link rel="icon" th:href="@{/static/dist/img/favicon.ico}" type="image/x-icon">

    <!-- Morris Charts CSS -->
    <link th:href="@{/static/vendors/bower_components/morris.js/morris.css}" rel="stylesheet" type="text/css"/>

    <!-- Data table CSS -->
    <link th:href="@{/static/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css}" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css}" rel="stylesheet"
          type="text/css">

    <!-- Custom CSS -->
    <link th:href="@{/static/dist/css/style.css}" rel="stylesheet" type="text/css">
</div>