<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Библиотека</title>

    <!--CSS-->
    <div th:replace="~{css_style :: css_style(activeTab)}"></div>

</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-red">
    <!-- Top Menu Items -->
    <nav th:replace="~{top_menu :: top_menu(activeTab)}"></nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <nav th:replace="~{left_sidebar_menu :: left_sidebar(activeTab)}"></nav>
    <!-- /Left Sidebar Menu -->

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Место хранения</h5>
                </div>

                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/location}">Места хранения</a></li>
                        <li class="active"><span>Место хранения</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->

            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <!--/*@thymesVar id="invention" type="org.educationfree.schoollibweb.model.operation.Invention"*/-->
                                            <form th:object="${invention}" th:method="post" th:action="@{/invention}"
                                                  enctype="multipart/form-data">

                                                <div class="form-group">
                                                    <label class="control-label mb-10">Номер</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Номер"
                                                               th:field="*{id}" disabled>
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10">Дата</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Дата" th:field="*{docDate}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10">Место хранения</label>
                                                    <div class="input-group">
                                                        <select th:field="*{location.name}" class="form-control">
                                                            <!--/*@thymesVar id="types" type="org.educationfree.schoollibweb.model.catalog.LocationType"*/-->
                                                            <option th:each="location : ${locations}"
                                                                    th:value="${location.id}"
                                                                    th:text="${location.name}"></option>
                                                        </select>
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <button type="submit" class="btn btn-success  mr-10">Сохранить
                                                    </button>
                                                    <button type="button" class="btn btn-default"
                                                            onclick="history.back();">Назад
                                                    </button>
                                                </div>
                                                <br>
                                            </form>
                                            <!-- Table -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="panel panel-default card-view">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="table-wrap">
                                                                    <div class="table-responsive">
                                                                        <table id="datable_1"
                                                                               class="table table-hover display  pb-30">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>Номер</th>
                                                                                <th>Книга</th>
                                                                                <th>Количество</th>
                                                                                <th></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <!--/*@thymesVar id="items" type="org.educationfree.schoollibweb.model.operation.item.InventionItem"*/-->
                                                                            <tr th:each="item : ${items}">
                                                                                <th>
                                                                                    <a th:href="@{'/invention/item/' + ${item.id}}"
                                                                                       th:text="${item.id}"></a></th>
                                                                                <th>
                                                                                    <a th:href="@{'/invention/item/' + ${item.id}}"
                                                                                       th:text="${item.book.name}"></a>
                                                                                </th>
                                                                                <th>
                                                                                    <a th:href="@{'/invention/item/' + ${item.id}}"
                                                                                       th:text="${item.getQuantity()}"></a>
                                                                                </th>
                                                                                <th><a class="btn btn-danger"
                                                                                       th:href="@{'/invention/item/delete/'+${item.id}}">Удалить</a>
                                                                                </th>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pb-5">
                                                <a class="btn btn-success" th:href="@{/invention/item}">Добавить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

        </div>

        <!-- Footer -->
        <footer th:replace="~{footer :: footer(activeTab)}"></footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<div th:replace="~{java_script :: script(activeTab)}"></div>

</body>
</html>
