<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Библиотека</title>

    <!--CSS-->
    <div th:replace="~{css_style :: css_style(activeTab)}"></div>

</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-red">
    <!-- Top Menu Items -->
    <nav th:replace="~{top_menu :: top_menu(activeTab)}"></nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <nav th:replace="~{left_sidebar_menu :: left_sidebar(activeTab)}"></nav>
    <!-- /Left Sidebar Menu -->

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Места хранения</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}"><span>Главная</span></a></li>
                        <li class="active"><span>Места хранения</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <div class="pb-5">
                <a class="btn btn-success" th:href="@{/location/new}">Добавить</a>
            </div>
            <!-- Table -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="datable_1" class="table table-hover display  pb-30" >
                                            <thead>
                                            <tr>
                                                <th>Код</th>
                                                <th>Наименование</th>
                                                <th>Тип хранения</th>
                                                <th>Ответственный</th>
                                            </tr>
                                            </thead>
                                            <!--/*@thymesVar id="person" type="org.educationfree.schoollibweb.model.catalog.Location"*/-->
                                            <tr th:each="location : ${locations}">
                                                <th><a th:href="@{'/location/' + ${location.id}}" th:text="${location.code}"></a></th>
                                                <th><a th:href="@{'/location/' + ${location.id}}" th:text="${location.name}"></a></th>
                                                <th><a th:href="@{'/location/' + ${location.id}}" th:text="${location.locationType == null ? '-' : location.locationType.name}"></a></th>
                                                <th><a th:href="@{'/location/' + ${location.id}}" th:text="${location.person == null ? '-' : location.person.name}"></a></th>
                                                <th> <a class="btn btn-danger" th:href="@{'/location/delete/'+${location.id}}" >Удалить</a></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer th:replace="~{footer :: footer(activeTab)}"></footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<div th:replace="~{java_script :: script(activeTab)}"></div>

</body>
</html>
