<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Библиотека</title>

    <!--CSS-->
    <div th:replace="~{css_style :: css_style(activeTab)}"></div>

</head>
<body>
<!--Preloader-->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!--/Preloader-->

<div class="wrapper pa-0">
    <header class="sp-header">
        <div class="sp-logo-wrap pull-left">
            <a th:href="@{/}">
                <img class="brand-img" src="" th:src="@{/static/dist/img/logo.png}" alt="brand"/>
                <span class="brand-text">Библиотека</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </header>

    <!-- Main Content -->
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Авторизация</h3>
                                    <h6 class="text-center nonecase-font txt-grey">Введите данные для авторизации</h6>
                                </div>
                                <div th:if="${param.error} != null">
                                    <div class="alert alert-danger col-xs-12">
                                        Неверный логин или пароль
                                    </div>
                                </div>
                                <div class="form-wrap">
                                    <form th:action="@{/login}" method="POST">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="username">Логин</label>
                                            <input id="username" type="text" class="form-control" required=""
                                                   name="username" placeholder="Введите логин">
                                        </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb-10" for="password">Пароль</label>
                                            <div class="clearfix"></div>
                                            <input id="password" type="password" class="form-control" required=""
                                                   name="password" placeholder="Введите пароль">
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-info btn-rounded">Войти</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<div th:replace="~{java_script :: script(activeTab)}"></div>

</body>
</html>
