<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Библиотека</title>

    <!--CSS-->
    <div th:replace="~{css_style :: css_style(activeTab)}"></div>

</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-red">
    <!-- Top Menu Items -->
    <nav th:replace="~{top_menu :: top_menu(activeTab)}"></nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <nav th:replace="~{left_sidebar_menu :: left_sidebar(activeTab)}"></nav>
    <!-- /Left Sidebar Menu -->

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Ответственный</h5>
                </div>

                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/person}">Ответственные</a></li>
                        <li class="active"><span>Ответственный</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->

            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <form th:object="${person}" th:method="post" th:action="@{/person}"
                                                  enctype="multipart/form-data">
                                                <input th:field="*{id}" type="hidden" class="form-control">
                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="code">Код</label>
                                                    <div class="input-group">
                                                        <input id="code" type="text" class="form-control" placeholder="Код" th:field="*{code}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="name">ФИО</label>
                                                    <div class="input-group">
                                                        <input id="name" type="text" class="form-control" placeholder="ФИО" th:field="*{name}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="email">Email</label>
                                                    <div class="input-group">
                                                        <input id="email" type="email" class="form-control" placeholder="Email" th:field="*{email}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="phone">Телефон</label>
                                                    <div class="input-group">
                                                        <input id="phone" type="number" class="form-control" placeholder="Телефон" th:field="*{telephone}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="address">Адрес</label>
                                                    <div class="input-group">
                                                        <input id="address" type="text" class="form-control" placeholder="Адрес" th:field="*{address}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="comment">Комментарий</label>
                                                    <div class="input-group">
                                                        <input id="comment" type="text" class="form-control" placeholder="Комментарий" th:field="*{comment}">
                                                        <div class="input-group-addon"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-0">
                                                    <button type="submit" class="btn btn-success  mr-10">Сохранить</button>
                                                    <button type="button" class="btn btn-default" onclick="history.back();">Назад</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

        </div>

        <!-- Footer -->
        <footer th:replace="~{footer :: footer(activeTab)}"></footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<div th:replace="~{java_script :: script(activeTab)}"></div>

</body>
</html>
